body{
    background-color:#C7B6B6;
    margin: 0px;
    padding: 0px;
}
#titre{
    background-color:white;
    font-size: 62px;
    border-width:10px;
    border-color: white;
    border-style: solid;
    color: #896565;
    line-height:91.1px ;
    text-align: center;
    box-shadow: 10px 5px 5px grey;
}
.styled{
    color:#796464;
    position: absolute;
    left: 3%;
    top: 5%;
    border-radius: 30px;
    background-color: #DDBFBF;
    border-color:#DDBFBF;
    width: 127px;
    height: 35px;
    text-align: center; 
    font-size: 21px;
    line-height: px;    
}
td{
    color: #796464;
    font-size: 200%;
    line-height:70px ;
    text-align: center;
}
img{
    width:300px;
    height: 300px;
}
table{
    margin-top:5% ;
}